.active {
    visibility: visible !important;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    color: var(--dark-gray);
    background-color: var(--white);
    min-height: 100vh;

    a {
        color: var(--dark-gray);
    }

    ul {
        padding: 2.5rem 2rem;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
    }

    li .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }

    &__list__panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--white);
        visibility: hidden;

        @media (min-width: 768px) {
            top: 0;
            left: 100%;
            width: 33.3333vw;
            max-width: 441px;
        }
    }

    .wrapper {
        overflow-y: auto;
        
        height: 100%;
        width: 100%;
        border-left: 1px solid var(--light-gray);
    }

    @media (min-width: 768px) {
        top: 0;
        width: 33.3333vw;
        max-width: 441px;
    }
}

/*
    transition: all .3s cubic-bezier(.39,.575,.565,1)
*/