$transition-ease: cubic-bezier(0.39, 0.575, 0.565, 1);
$transition-default: all 0.3s $transition-ease;



.active {
    visibility: visible !important;
    opacity: 1 !important;
}



.disabled {
    opacity: 1;

    @media (min-width: 768px) {
        opacity: .6;
    }
}

.nav {
    position: fixed;
    inset: 0;
    color: var(--dark-gray);
    background-color: var(--white);
    height: 0vh;
    opacity: 0;
    transition: $transition-default;

    &.active {
        height: 100vh;
    }



    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    li {
        .item {
            padding: 1.5rem 0;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            align-items: center;
            text-align: left;
            width: 100%;
            cursor: pointer;
            transition: border-bottom 0.09s $transition-ease;

            @media (min-width: 768px) {
                span,
                a {
                    color: var(--dark-gray);
                    background: linear-gradient(#000, #000) no-repeat 0 100% / 0 1px;
                    transition: background-size .3s $transition-ease;

                    &.is-selected {
                        background-size: 100% 1px;
                        /* đường kẻ trải rộng */
                    }
                }
            }
        }

        .back-button {
            padding: 1.5rem 2.5rem;
            border-bottom: 1px solid var(--light-gray);

            @media (min-width: 768px) {
                display: none;
            }
        }
    }

    &__list--services {
        padding: 2.5rem 2.5rem;
        opacity: 0;
        transition: $transition-default;

        &.active {
            border-top: 1px solid var(--light-gray);
            border-right: 1px solid var(--light-gray);
        }
    }

    &__list {
        padding: 2rem 2.5rem 2.5rem;
        visibility: hidden;
        opacity: 0;
        transition: $transition-default;
    }

    &__list__panel {
        position: absolute;
        inset: 0 0 0 100%;
        visibility: hidden;
        opacity: 0;
        transition: $transition-default;

        &.active {
            inset: 0 0 0 0;
        }

        @media (min-width: 768px) {
            width: min(33.3333vw, 441px);

            &.active {
                inset: 0 0 0 100%;
            }
        }
    }

    &__list__panel--content {
        position: relative;
        transform: translateY(-2.5rem);
        height: 100vh;
        opacity: 0;
        transition: $transition-default;

        &.active {
            transform: translateY(0);
        }
    }

    &__list__panel--layout {
        position: absolute;
        inset: 0 0 0 100%;
        background-color: var(--white);
        visibility: hidden;
        opacity: 0;
        transition: $transition-default;

        &.active {
            inset: 0 0 0 0;
        }

        @media (min-width: 768px) {
            width: min(33.3333vw, 441px);
            inset: 0 0 0 30%;

            &.active {
                inset: 0 0 0 100%;
            }
        }
    }

    .wrapper {
        padding: 5rem 0;
        opacity: 0;
        transition: $transition-default;
        transition: border-right 0s $transition-ease .3s;
        height: 100%;

        &.active {
            overflow-y: auto;
            border-right: 1px solid var(--light-gray);
            opacity: 1;
        }
    }

    @media (min-width: 768px) {
        top: 0;
        width: 0;
        height: 100vh;

        &.active {
            width: min(33.3333vw, 441px);
            opacity: 1;
        }
    }
}

/*
    transition: all .3s cubic-bezier(.39,.575,.565,1)
*/