/* Navbar cơ bản */
.navbar {
  background: #333;
}
.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.menu > li {
  position: relative;
}
.menu > li > a {
  color: white;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}
.menu > li > a:hover {
  background: #444;
}

/* Menu con */
.submenu {
  position: absolute;
  /* left: 0; */
  top: 100%;
  background: #444;
  list-style: none;
  padding: 0;
  margin: 0;
  /* display: none; Ẩn mặc định */
  min-width: 150px;
}
.submenu li a {
  padding: 10px;
  color: white;
  display: block;
  text-decoration: none;
}
.submenu li a:hover {
  background: #555;
}

/* Hiển thị khi hover */
.menu li:hover > .submenu {
  display: block;
}

/* Menu con cấp 2 sang ngang */
.submenu .submenu {
  left: 100%;
  top: 0;
}
