@import "tailwindcss";


* {
  font-family: Helvetica Neue, Helvetica, Arial, sans-seri
}

body{
  background-color: #1e2939;
}
:root {
  --dark-gray: #1e2939;
  --light-gray: #d1d5dc;
  --white: #fff
}